<nav class="navbar is-black">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="<%= require('images/logo.png') %>" alt="logo">
            </a>
            <span class="navbar-burger burger" role="button" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div ref="menus" class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">首页</a>
                <a class="navbar-item <%= active === 'speaker' ? 'is-active' : '' %>" href="/speaker">讲者</a>
                <a class="navbar-item <%= active === 'team' ? 'is-active' : '' %>" href="/team">团队</a>
                <a class="navbar-item <%= active === 'join' ? 'is-active' : '' %>" href="/join" >参与</a>
                <a class="navbar-item <%= active === 'about' ? 'is-active' : '' %>" href="/about">关于</a>
            </div>
        </div>
    </div>
</nav>