<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="<%= require('images/favicon.png') %>"/>
    <title>参与 TEDxXujiahui | 汇聚万智，和而不同</title>
</head>
<body class="join">
    <%= require('ejs-loader!../components/nav.ejs')({active: 'join'}) %>
    <section class="content">
        <div class="card join-us">
            <div class="card-content">
                <h1 class="title">加入我们</h1>
                <h2 class="subtitle">成为志愿者/讲者/赞助商</h2>
                <p class="content">我们力求中国区的 TEDx 视频登上官网，望 TEDxXujiahui 打造的演讲具有国际水准，展现在 Youtube 等全球频道，我们严格把控演讲质量，全程提供演讲设计与演讲技能辅导。如果您希望建立合作关系，成为赞助商、演讲人、志愿者，请联系邮箱：<a href="mailto:sponsor@tedxxujiahui.com">service@tedxxujiahui.com</a></p>
            </div>
        </div>
    </section>
    <section class="detail">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="image">
                        <img class="" src="<%= require('images/why1.jpg') %>">
                    </figure>
                    <h2 class="title is-4 has-text-centered">成为赞助商</h2>
                    <p>我们寻找热爱 TED 与 TEDx 的赞助合作伙伴，我们的合作方式包括但不局限于：，现金赞助首席赞助伙伴、联合赞助伙伴，摄像支持/直播平台合作，酒店支持讲者住宿，交通支持讲者接送，媒体支持户外媒体/电视电台媒体/自媒体/知乎、微博大V，餐饮支持饮品、零食伴手礼、冷餐食晚宴，物美支持舞台设备，印刷支持大会纪念册等印刷，礼品支持纪念礼品支持，同传支持同传设备、同传技术人员，若您有相关合作资源，或需获得完整版本的合作方案，有任何合作意向，欢迎联系我们。</p>
                </div>
                <div class="column">
                    <figure class="image">
                        <img class="" src="<%= require('images/why2.jpg') %>">
                    </figure>
                    <h2 class="title is-4 has-text-centered">成为讲者</h2>
                    <p>如果你拥有，普世价值观的解读，令人惊奇的创新思维，卓著成就和非凡经历，觉悟出至简之大道，醍醐灌顶的思维，从未间断的追求；如果你希望，突破传统的偏见，改变刻板的印象，倾诉人生阅历，表达精炼的 idea，让实践多年并成效显著的想法，产生和谐共振，来做我们的讲者吧!，只要你有好的 idea，想真诚表达给普罗大众分享，这个舞台为你展现光芒。</p>
                </div>
                <div class="column">
                    <figure class="image">
                        <img class="" src="<%= require('images/why3.jpg') %>">
                    </figure>
                    <h2 class="title is-4 has-text-centered">成为志愿者</h2>
                    <p>TEDxXujiahui 致力于打造一个有爱的组织，尊重每一个志愿者，我们的口号是“汇聚万智，和而不同”。任何一个强大的团队，大家往往只看到其瞬间的爆发，但背后离不开团队每位成员持之以恒的努力和坚持。通往成功的道路上从来都不是一帆风顺的，能创造历史的从来都是那些不畏艰辛、坚定执着的团队。那些能长久地激励你，温暖你，感动你的，从来不会是励志语录心灵鸡汤，而是身边有这样一群志同道合，积极向上，充满正能量的人一路同行。让我们一起创造未来，欢迎大家加入 TEDx 徐家汇志愿者团队！</p>
                </div>
            </div>
        </div>
    </section>
    <%= require('ejs-loader!../components/footer.ejs')() %>
</body>
</html>
