<% const speakers = require('../data/jue.json').speakers %>
<% const vucaSpeakers = require('../data/vuca.json').speakers %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="<%= require('images/favicon.png') %>"/>
    <title>讲者 TEDxXujiahui | 汇聚万智，和而不同</title>
</head>
<body class="speaker">
    <%= require('ejs-loader!../components/nav.ejs')({active: 'speaker'}) %>
    <section class="about-event">
        <div class="container">
            <h2 class="has-text-weight-bold"><span class="tedx">TED<sup>x</sup></span><span class="has-text-weight-normal">Xujiahui</span> 2019 VUCA 乌卡时代</h2>
            <div class="columns">
                <div class="column is-three-fifths desc">
                    <h3 class="has-text-weight-semibold">大会主题</h3>
                    <p class="detail">
VUCA
                    </p>
                </div>
                <div class="column">
                    <figure class="banner image">
                        <img src="<%= require('images/vuca.jpg') %>">
                    </figure>
                </div>
            </div>
            <div class="speakers columns is-multiline">
            <% vucaSpeakers.forEach( speaker => { %>
                <div class="column is-one-third-desktop is-one-quarter-widescreen is-half-tablet">
                    <div class="speaker card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="<%= require('images/speaker-vuca/'+ speaker.id +'.jpg') %>" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-centered"><%= speaker.name %></p>
                                    <p class="subtitle is-6 has-text-centered"><%= speaker.title %></p>
                                </div>
                            </div>
                            <div class="content">
                                <%= speaker.desc %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
    </section>
    <section class="about-event">
        <div class="container">
            <h2 class="has-text-weight-bold"><span class="tedx">TED<sup>x</sup></span><span class="has-text-weight-normal">Xujiahui</span> 2018 Eureka 觉</h2>
            <div class="columns">
                <div class="column is-three-fifths desc">
                    <h3 class="has-text-weight-semibold">大会主题</h3>
                    <p class="has-text-weight-semibold">伟大的哲学家阿基米德发现浮力定律兴奋的从洗澡池中跳出来的一刻，大喊了一句“ Eureka！我发现了！”</p>
                    <p class="detail">
Eureka源于古希腊语，意为恍然大悟。<br>
在我们的人生里，我们总需要一些灵光乍现的节点去发现去开拓去创造，激发了我们内心的小宇宙。<br>
可能是某句话，某件事，某个人，成就了不一样的自己，实现了不一样的价值。<br>
我们相信每一个行动，每一次成功的背后都有这 Eureka moments（灵光乍现的觉醒时刻），追随TEDxXujiahui去探索“觉”的瞬间，大声呼喊， Eureka!
                    </p>
                </div>
                <div class="column">
                    <figure class="banner image">
                        <img src="<%= require('images/jue-dark.jpg') %>">
                    </figure>
                </div>
            </div>
            <div class="speakers columns is-multiline">
            <% speakers.forEach( speaker => { %>
                <div class="column is-one-third-desktop is-one-quarter-widescreen is-half-tablet">
                    <div class="speaker card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="<%= require('images/speaker-jue/'+ speaker.id +'.jpg') %>" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-centered"><%= speaker.name %></p>
                                    <p class="subtitle is-6 has-text-centered"><%= speaker.title %></p>
                                </div>
                            </div>
                            <div class="content">
                                <%= speaker.desc %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
    </section>
    <%= require('ejs-loader!../components/footer.ejs')() %>
</body>
</html>
